target/
*.swp
*.classpath
*.project
*.epoch
*.lck
*.log
.settings/
b.bat
c.bat
r.bat
br.bat
*.bat
*.pyc
*.idea/
*.iml
classes/
.gradle/
build/
gradle/
out/
tool/data-importer/*.out
buildinfo.properties
